databaseChangeLog:
  - changeSet:
      id: 202408241230_create_table_config.yml
      author: linck
      changes:
        - createTable:
            tableName: sys_config
            remarks: 系统配置
            columns:
              - column:
                  name: config_id
                  type: varchar(20)
                  constraints:
                    primaryKey: true
                    nullable: false
                  remarks: 配置ID
              - column:
                  name: config_name
                  type: varchar(100)
                  constraints:
                    nullable: false
                  remarks: 配置名称
              - column:
                  name: config_code
                  type: varchar(100)
                  constraints:
                    nullable: false
                  remarks: 配置标识
              - column:
                  name: config_value
                  type: varchar(100)
                  constraints:
                    nullable: false
                  remarks: 配置内容
              - column:
                  name: create_by
                  type: varchar(20)
                  remarks: 创建用户id
              - column:
                  name: update_by
                  type: varchar(20)
                  remarks: 更新用户id
              - column:
                  name: create_time
                  type: timestamp(6)
                  constraints:
                    nullable: false
                  defaultValueComputed: CURRENT_TIMESTAMP
                  remarks: 创建时间
              - column:
                  name: update_time
                  type: timestamp(6)
                  constraints:
                    nullable: false
                  defaultValueComputed: CURRENT_TIMESTAMP
                  remarks: 更新时间
              - column:
                  name: del_flag
                  type: int2
                  constraints:
                    nullable: false
                  defaultValue: 0
                  remarks: 删除标识
              - column:
                  name: version
                  type: int8
                  constraints:
                    nullable: false
                  defaultValue: 0
                  remarks: 乐观锁版本
