<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.zerolinck.passiflora.iam.mapper.IamAppMapper">

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        app_id, app_name, app_key, app_secret, app_icon, app_url, app_status, app_type, app_remark, app_period, create_by, update_by, create_time, update_time, del_flag, version
    </sql>

    <select id="page" resultType="com.zerolinck.passiflora.model.iam.entity.IamApp">
        SELECT * FROM iam_app
        <where>
            del_flag = 0
            <if test="ew.sqlSegment != null and ew.sqlSegment != ''">
                AND ${ew.sqlSegment}
            </if>
        </where>
        <if test="sortWrapper.sqlSegment == null or sortWrapper.sqlSegment == ''">
            ORDER BY app_id ASC
        </if>
        <if test="sortWrapper.sqlSegment != null and sortWrapper.sqlSegment != ''">
            ${sortWrapper.sqlSegment}
        </if>
    </select>

    <delete id="deleteByIds">
        UPDATE iam_app SET update_time = now(),
                                update_by = #{updateBy},
                                del_flag = 1
        WHERE app_id IN
        <foreach item="id" index="index" collection="appIds" open="(" separator="," close=")">
            #{id}
        </foreach>
    </delete>

</mapper>