<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.zerolinck.passiflora.iam.mapper.IamRolePermissionMapper">

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        id, role_id, permission_id, create_by, update_by, create_time, update_time, del_flag, version
    </sql>

    <select id="page" resultType="com.zerolinck.passiflora.model.iam.entity.IamRolePermission">
        SELECT * FROM iam_role_permission
        <where>
            del_flag = 0
            <if test="ew.sqlSegment != null and ew.sqlSegment != ''">
                AND ${ew.sqlSegment}
            </if>
        </where>
        <if test="sortWrapper.sqlSegment == null or sortWrapper.sqlSegment == ''">
            ORDER BY id ASC
        </if>
        <if test="sortWrapper.sqlSegment != null and sortWrapper.sqlSegment != ''">
            ${sortWrapper.sqlSegment}
        </if>
    </select>

    <delete id="deleteByIds">
        UPDATE iam_role_permission SET update_time = now(),
                                update_by = #{updateBy},
                                del_flag = 1
        WHERE id IN
        <foreach item="id" index="index" collection="ids" open="(" separator="," close=")">
            #{id}
        </foreach>
    </delete>

    <delete id="deleteByRoleIds">
        UPDATE iam_role_permission SET update_time = now(),
        update_by = #{updateBy},
        del_flag = 1
        WHERE role_id IN
        <foreach item="id" index="index" collection="roleIds" open="(" separator="," close=")">
            #{id}
        </foreach>
    </delete>


    <select id="permissionIdsByRoleIds" resultType="java.lang.String">
        SELECT permission_id from iam_permission
        WHERE permission_status = 1
        AND del_flag = 0
        AND permission_id IN (
        SELECT  permission_id from iam_role_permission
        WHERE del_flag = 0
        AND role_id IN
        <foreach item="id" index="index" collection="roleIds" open="(" separator="," close=")">
            #{id}
        </foreach>
        )
    </select>
</mapper>