<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.zerolinck.passiflora.iam.mapper.IamUserMapper">

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        user_id, user_name, real_name, org_id, id_card_no, date_of_birth, gender, phone_num, email, avatar_file, remark, user_password, create_by, update_by, create_time, update_time, del_flag, version
    </sql>

    <select id="page" resultType="com.zerolinck.passiflora.model.iam.entity.IamUser">
        SELECT user_id, user_name, real_name, org_id, id_card_no, date_of_birth, gender, phone_num, email, avatar_file, remark, create_by, update_by, create_time, update_time, del_flag, version FROM iam_user
        <where>
            del_flag = 0 AND user_id != '1'
            <if test="ew.sqlSegment != null and ew.sqlSegment != ''">
                AND ${ew.sqlSegment}
            </if>
            <if test="orgId != null and orgId != ''">
                <bind name="path" value="'%'+orgId+'%'"/>
                AND org_id in (SELECT org_id FROM iam_org where org_id_path like #{path})
            </if>
        </where>
        <if test="sortWrapper.sqlSegment == null or sortWrapper.sqlSegment == ''">
            ORDER BY user_name ASC, user_id ASC
        </if>
        <if test="sortWrapper.sqlSegment != null and sortWrapper.sqlSegment != ''">
            ${sortWrapper.sqlSegment}
        </if>
    </select>

    <delete id="deleteByIds">
        UPDATE iam_user SET update_time = now(),
                            update_by = #{updateBy},
                            del_flag = 1
        WHERE user_id IN
        <foreach item="id" index="index" collection="userIds" open="(" separator="," close=")">
            #{id}
        </foreach>
    </delete>

</mapper>