<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.zerolinck.passiflora.iam.mapper.SysPositionMapper">

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        position_id, position_name, position_level, parent_position_id, data_scope_type, position_id_path, create_by, update_by, create_time, update_time, del_flag, version, position_status, "order"
    </sql>

    <select id="page" resultType="com.zerolinck.passiflora.model.iam.entity.SysPosition">
        SELECT * FROM sys_position
        <where>
            del_flag = 0
            <if test="ew.sqlSegment != null and ew.sqlSegment != ''">
                AND ${ew.sqlSegment}
            </if>
        </where>
        <if test="sortWrapper.sqlSegment == null or sortWrapper.sqlSegment == ''">
            ORDER BY position_level, "order", position_id ASC
        </if>
        <if test="sortWrapper.sqlSegment != null and sortWrapper.sqlSegment != ''">
            ${sortWrapper.sqlSegment}
        </if>
    </select>

    <delete id="deleteByIds">
        UPDATE sys_position SET update_time = now(),
                                update_by = #{updateBy},
                                del_flag = 1
        WHERE position_id IN
        <foreach item="id" index="index" collection="positionIds" open="(" separator="," close=")">
            #{id}
        </foreach>
    </delete>

    <update id="disable">
        UPDATE sys_position SET update_time = now(),
        update_by = #{updateBy},
        position_status = 0
        WHERE
        <foreach item="id" index="index" collection="positionIds" open="(" separator=" OR " close=")">
            position_id_path like CONCAT('%', #{id}, '%')
        </foreach>
    </update>

    <update id="enable">
        UPDATE sys_position SET update_time = now(),
        update_by = #{updateBy},
        position_status = 1
        WHERE position_id IN
        <foreach item="id" index="index" collection="positionIds" open="(" separator="," close=")">
            #{id}
        </foreach>
    </update>
</mapper>