server:
  port: 51000

spring:
  main:
    web-application-type: reactive
  application:
    name: passiflora-gateway-app
  profiles:
    active: "@env@"
  cloud:
    nacos:
      discovery:
        server-addr: "@nacos.serverAddr@"
    gateway:
      discovery:
        locator:
          enabled: true
      routes:
        - id: passiflora-iam-app
          uri: lb://passiflora-iam-app
          predicates:
            - Path=/passiflora/iam-api/**
        - id: passiflora-storage-app
          uri: lb://passiflora-storage-app
          predicates:
            - Path=/passiflora/storage-api/**

      default-filters:
        - TokenCheck #添加默认 Filter TokenCheckGatewayFilterFactory

knife4j:
  gateway:
    enabled: true
    strategy: manual
    routes:
      - name: 系统服务
        service-name: passiflora-iam-app
        url: /passiflora/iam-api/v3/api-docs?group=default
        context-path: /passiflora/iam-api
      - name: 文件服务
        service-name: passiflora-storage-app
        url: /passiflora/storage-api/v3/api-docs?group=default
        context-path: /passiflora/storage-api

passiflora:
  project-version: "@projectVersion@"
  build-time: "@buildTime@"
