<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.zerolinck.passiflora.system.mapper.SysPermissionMapper">

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        permission_id, permission_title, permission_name, permission_icon, permission_parent_id, permission_id_path, "order", remark, create_by, update_by, create_time, update_time, del_flag, version, permission_level, permission_status, permission_type
    </sql>

    <select id="page" resultType="com.zerolinck.passiflora.model.system.entity.SysPermission">
        SELECT * FROM sys_permission
        <where>
            del_flag = 0
            <if test="ew.sqlSegment != null and ew.sqlSegment != ''">
                AND ${ew.sqlSegment}
            </if>
        </where>
        <if test="sortWrapper.sqlSegment == null or sortWrapper.sqlSegment == ''">
            ORDER BY "order", permission_id
        </if>
        <if test="sortWrapper.sqlSegment != null and sortWrapper.sqlSegment != ''">
            ${sortWrapper.sqlSegment}
        </if>
    </select>

    <select id="listByPositionId" resultType="com.zerolinck.passiflora.model.system.entity.SysPermission">
        SELECT b.* from (
            SELECT permission_id from sys_position_permission
            WHERE del_flag = 0
            AND position_id = #{positionId}
        ) as a INNER JOIN sys_permission as b ON a.permission_id = b.permission_id
        WHERE b.del_flag = 0
    </select>

    <select id="listByUserId" resultType="com.zerolinck.passiflora.model.system.entity.SysPermission">
        SELECT d.* FROM (
            SELECT b.permission_id from (
                SELECT position_id from sys_user_position
                WHERE del_flag = 0
                AND user_id = #{userId}
            ) as a INNER JOIN sys_position_permission as b ON a.position_id = b.position_id
            WHERE b.del_flag = 0
    ) as c INNER JOIN sys_permission as d ON c.permission_id = d.permission_id
    WHERE d.del_flag = 0
    </select>

    <delete id="deleteByIds">
        UPDATE sys_permission SET update_time = now(),
                                update_by = #{updateBy},
                                del_flag = 1
        WHERE permission_id IN
        <foreach item="id" index="index" collection="permissionIds" open="(" separator="," close=")">
            #{id}
        </foreach>
    </delete>

    <update id="disable">
        UPDATE sys_permission SET update_time = now(),
                                update_by = #{updateBy},
                                permission_status = 0
        WHERE
        <foreach item="id" index="index" collection="permissionIds" open="(" separator=" OR " close=")">
            permission_id_path like CONCAT('%', #{id}, '%')
        </foreach>
    </update>

    <update id="enable">
        UPDATE sys_permission SET update_time = now(),
                                update_by = #{updateBy},
                                permission_status = 1
                                WHERE permission_id IN
        <foreach item="id" index="index" collection="permissionIds" open="(" separator="," close=")">
            #{id}
        </foreach>
    </update>
</mapper>