---
server:
  port: 51001
  shutdown: "graceful"
  servlet:
    context-path: "/passiflora/iam-api"
spring:
  application:
    name: "passiflora-iam-app"
  profiles:
    active: "@env@"
  cloud:
    nacos:
      discovery:
        server-addr: "@nacos.serverAddr@"
  datasource:
    url: "@iam_app.database.url@"
    username: "@iam_app.database.username@"
    password: "@iam_app.database.password@"
    driver-class-name: "org.postgresql.Driver"
  data:
    redis:
      database: "@redis.database@"
      host: "@redis.host@"
      port: "@redis.port@"
  liquibase:
    enabled: false
feign:
  compression:
    request:
      enabled: true
      mime-types: "text/html,application/xml,application/json"
      min-request-size: 2048
    response:
      enabled: true
  client:
    config:
      default:
        connect-timeout: 5000
        read-timeout: 600000
mybatis-plus:
  configuration:
    log-impl: "org.apache.ibatis.logging.slf4j.Slf4jImpl"
  mapper-locations: "classpath*:com/zerolinck/**/mapper/xml/*Mapper.xml"
  global-config:
    db-config:
      logic-delete-value: 1
      logic-not-delete-value: 0
      insert-strategy: "not_null"
      update-strategy: "not_null"
passiflora:
  iam:
    token:
      expire: 604800
  config:
    mybatis: true
    exception: true
    globalFilter: true
    lock: true
    cache: true
  project-version: "@projectVersion@"
  build-time: "@buildTime@"
